{% extends "forecast/base.html" %}

{% block content %}

<div class="panel-body">
    <div class = "row justify-content-md-center pt-5">
        <div class="col-12">
            <form method="post">{% csrf_token %}
                <h4 class="pb-4">¿Quieres borrar el aviso <i>"{{object.text}}" del {{object.sample_datetime |date:"d-m-Y H:i"}}?</i></h4>
                <p><input class="btn btn-dark" type ='submit' value ='Sí' />
                    <a class="btn btn-dark" href='../' role="button">Cancelar</a>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}env_variable